--
-- PostgreSQL database dump
--

\restrict FQNnCqQgQaMA861wfdsq6M39KzgfSZkSg8c2SZNKgxlz7eEv9A8bWeGqohYi1Yg

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: admin_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA admin_schema;


ALTER SCHEMA admin_schema OWNER TO sourcecorp_user;

--
-- Name: audit_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA audit_schema;


ALTER SCHEMA audit_schema OWNER TO sourcecorp_user;

--
-- Name: auth_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA auth_schema;


ALTER SCHEMA auth_schema OWNER TO sourcecorp_user;

--
-- Name: chat_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA chat_schema;


ALTER SCHEMA chat_schema OWNER TO sourcecorp_user;

--
-- Name: crm_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA crm_schema;


ALTER SCHEMA crm_schema OWNER TO sourcecorp_user;

--
-- Name: finance_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA finance_schema;


ALTER SCHEMA finance_schema OWNER TO sourcecorp_user;

--
-- Name: task_schema; Type: SCHEMA; Schema: -; Owner: sourcecorp_user
--

CREATE SCHEMA task_schema;


ALTER SCHEMA task_schema OWNER TO sourcecorp_user;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: check_hierarchy_cycle(); Type: FUNCTION; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE FUNCTION auth_schema.check_hierarchy_cycle() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      DECLARE
        current_manager UUID;
        visited UUID[] := ARRAY[NEW.subordinate_id];
      BEGIN
        current_manager := NEW.manager_id;
        
        WHILE current_manager IS NOT NULL LOOP
          IF current_manager = ANY(visited) THEN
            RAISE EXCEPTION 'Circular hierarchy detected: cannot create cycle in reporting structure';
          END IF;
          
          visited := array_append(visited, current_manager);
          
          SELECT manager_id INTO current_manager
          FROM auth_schema.user_hierarchy
          WHERE subordinate_id = current_manager;
        END LOOP;
        
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION auth_schema.check_hierarchy_cycle() OWNER TO sourcecorp_user;

--
-- Name: generate_case_number(); Type: FUNCTION; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE FUNCTION crm_schema.generate_case_number() RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    new_number TEXT;
    counter INTEGER;
BEGIN
    SELECT COUNT(*) INTO counter FROM crm_schema.cases;
    new_number := 'CASE-' || TO_CHAR(CURRENT_DATE, 'YYYYMMDD') || '-' || LPAD((counter + 1)::TEXT, 5, '0');
    RETURN new_number;
END;
$$;


ALTER FUNCTION crm_schema.generate_case_number() OWNER TO sourcecorp_user;

--
-- Name: set_case_number(); Type: FUNCTION; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE FUNCTION crm_schema.set_case_number() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.case_number IS NULL OR NEW.case_number = '' THEN
        NEW.case_number := crm_schema.generate_case_number();
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION crm_schema.set_case_number() OWNER TO sourcecorp_user;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE FUNCTION crm_schema.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION crm_schema.update_updated_at_column() OWNER TO sourcecorp_user;

--
-- Name: validate_task_assignment(); Type: FUNCTION; Schema: task_schema; Owner: sourcecorp_user
--

CREATE FUNCTION task_schema.validate_task_assignment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      DECLARE
        is_subordinate BOOLEAN;
        is_manager BOOLEAN;
      BEGIN
        IF NEW.direction = 'DOWNWARD' THEN
          SELECT EXISTS(
            SELECT 1 FROM auth_schema.user_hierarchy
            WHERE manager_id = NEW.assigned_by
            AND subordinate_id = NEW.assigned_to
          ) INTO is_subordinate;
          
          IF NOT is_subordinate THEN
            RAISE EXCEPTION 'DOWNWARD tasks can only be assigned to direct subordinates';
          END IF;
        END IF;
        
        IF NEW.direction = 'UPWARD' THEN
          SELECT EXISTS(
            SELECT 1 FROM auth_schema.user_hierarchy
            WHERE manager_id = NEW.assigned_to
            AND subordinate_id = NEW.assigned_by
          ) INTO is_manager;
          
          IF NOT is_manager THEN
            RAISE EXCEPTION 'UPWARD tasks can only be raised to direct manager';
          END IF;
        END IF;
        
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION task_schema.validate_task_assignment() OWNER TO sourcecorp_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: announcements; Type: TABLE; Schema: admin_schema; Owner: sourcecorp_user
--

CREATE TABLE admin_schema.announcements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    author_id uuid NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE admin_schema.announcements OWNER TO sourcecorp_user;

--
-- Name: audit_logs; Type: TABLE; Schema: audit_schema; Owner: sourcecorp_user
--

CREATE TABLE audit_schema.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action character varying(100) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id uuid,
    details jsonb,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE audit_schema.audit_logs OWNER TO sourcecorp_user;

--
-- Name: permissions; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.permissions OWNER TO sourcecorp_user;

--
-- Name: role_permissions; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.role_permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.role_permissions OWNER TO sourcecorp_user;

--
-- Name: roles; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.roles OWNER TO sourcecorp_user;

--
-- Name: team_members; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.team_members (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    team_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.team_members OWNER TO sourcecorp_user;

--
-- Name: teams; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.teams OWNER TO sourcecorp_user;

--
-- Name: user_hierarchy; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.user_hierarchy (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    manager_id uuid NOT NULL,
    subordinate_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_no_self_reference CHECK ((manager_id <> subordinate_id))
);


ALTER TABLE auth_schema.user_hierarchy OWNER TO sourcecorp_user;

--
-- Name: user_roles; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.user_roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.user_roles OWNER TO sourcecorp_user;

--
-- Name: users; Type: TABLE; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TABLE auth_schema.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE auth_schema.users OWNER TO sourcecorp_user;

--
-- Name: attachments; Type: TABLE; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE TABLE chat_schema.attachments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    message_id uuid NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    mime_type character varying(100) NOT NULL,
    file_size bigint NOT NULL,
    uploaded_by uuid NOT NULL,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE chat_schema.attachments OWNER TO sourcecorp_user;

--
-- Name: channel_creation_requests; Type: TABLE; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE TABLE chat_schema.channel_creation_requests (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    requested_by uuid NOT NULL,
    channel_name character varying(255) NOT NULL,
    channel_type character varying(20) NOT NULL,
    target_role_id uuid,
    target_team_id uuid,
    requested_members jsonb DEFAULT '[]'::jsonb,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    reviewed_by uuid,
    review_notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reviewed_at timestamp without time zone,
    CONSTRAINT channel_creation_requests_channel_type_check CHECK (((channel_type)::text = ANY ((ARRAY['GLOBAL'::character varying, 'ROLE'::character varying, 'TEAM'::character varying, 'GROUP'::character varying])::text[]))),
    CONSTRAINT channel_creation_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE chat_schema.channel_creation_requests OWNER TO sourcecorp_user;

--
-- Name: channel_members; Type: TABLE; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE TABLE chat_schema.channel_members (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    channel_id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE chat_schema.channel_members OWNER TO sourcecorp_user;

--
-- Name: channels; Type: TABLE; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE TABLE chat_schema.channels (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255),
    type character varying(20) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    CONSTRAINT channels_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'PENDING'::character varying])::text[]))),
    CONSTRAINT channels_type_check CHECK (((type)::text = ANY ((ARRAY['GLOBAL'::character varying, 'ROLE'::character varying, 'TEAM'::character varying, 'GROUP'::character varying, 'DM'::character varying])::text[])))
);


ALTER TABLE chat_schema.channels OWNER TO sourcecorp_user;

--
-- Name: messages; Type: TABLE; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE TABLE chat_schema.messages (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    channel_id uuid NOT NULL,
    sender_id uuid NOT NULL,
    message_type character varying(20) NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT messages_message_type_check CHECK (((message_type)::text = ANY ((ARRAY['TEXT'::character varying, 'FILE'::character varying, 'IMAGE'::character varying])::text[])))
);


ALTER TABLE chat_schema.messages OWNER TO sourcecorp_user;

--
-- Name: case_assignments; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.case_assignments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    assigned_to uuid NOT NULL,
    assigned_by uuid NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE crm_schema.case_assignments OWNER TO sourcecorp_user;

--
-- Name: case_notes; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.case_notes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    note text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE crm_schema.case_notes OWNER TO sourcecorp_user;

--
-- Name: case_notifications; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.case_notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    scheduled_for uuid NOT NULL,
    scheduled_by uuid NOT NULL,
    message text,
    scheduled_at timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_read boolean DEFAULT false,
    completion_status character varying(20) DEFAULT 'ONGOING'::character varying,
    CONSTRAINT case_notifications_completion_status_check CHECK (((completion_status)::text = ANY ((ARRAY['ONGOING'::character varying, 'COMPLETED'::character varying])::text[]))),
    CONSTRAINT case_notifications_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'SENT'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE crm_schema.case_notifications OWNER TO sourcecorp_user;

--
-- Name: case_status_history; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.case_status_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    from_status character varying(50),
    to_status character varying(50) NOT NULL,
    changed_by uuid NOT NULL,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    remarks text
);


ALTER TABLE crm_schema.case_status_history OWNER TO sourcecorp_user;

--
-- Name: cases; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.cases (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_number character varying(50) NOT NULL,
    customer_name character varying(255) NOT NULL,
    customer_email character varying(255) NOT NULL,
    customer_phone character varying(50) NOT NULL,
    loan_type character varying(100) NOT NULL,
    loan_amount numeric(15,2) NOT NULL,
    current_status character varying(50) DEFAULT 'NEW'::character varying NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE crm_schema.cases OWNER TO sourcecorp_user;

--
-- Name: documents; Type: TABLE; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TABLE crm_schema.documents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    mime_type character varying(100) NOT NULL,
    file_size bigint NOT NULL,
    uploaded_by uuid NOT NULL,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE crm_schema.documents OWNER TO sourcecorp_user;

--
-- Name: cam_entries; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.cam_entries (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    template_id uuid,
    cam_data jsonb NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    template_snapshot jsonb,
    user_added_fields jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE finance_schema.cam_entries OWNER TO sourcecorp_user;

--
-- Name: cam_fields; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.cam_fields (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    template_id uuid NOT NULL,
    section_name character varying(255) NOT NULL,
    field_key character varying(255) NOT NULL,
    label character varying(255) NOT NULL,
    field_type character varying(50) NOT NULL,
    is_mandatory boolean DEFAULT false,
    is_user_addable boolean DEFAULT false,
    order_index integer DEFAULT 0 NOT NULL,
    default_value text,
    validation_rules jsonb,
    select_options jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT cam_fields_field_type_check CHECK (((field_type)::text = ANY ((ARRAY['text'::character varying, 'number'::character varying, 'currency'::character varying, 'date'::character varying, 'select'::character varying])::text[])))
);


ALTER TABLE finance_schema.cam_fields OWNER TO sourcecorp_user;

--
-- Name: cam_templates; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.cam_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    loan_type character varying(100) NOT NULL,
    template_definition jsonb,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    template_name character varying(255) DEFAULT 'Default Template'::character varying,
    sections jsonb NOT NULL,
    is_active boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE finance_schema.cam_templates OWNER TO sourcecorp_user;

--
-- Name: eligibility_calculations; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.eligibility_calculations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    monthly_income numeric(15,2) NOT NULL,
    eligible_amount numeric(15,2) NOT NULL,
    requested_amount numeric(15,2) NOT NULL,
    result character varying(20) NOT NULL,
    rule_snapshot jsonb NOT NULL,
    calculated_by uuid NOT NULL,
    calculated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT eligibility_calculations_result_check CHECK (((result)::text = ANY ((ARRAY['ELIGIBLE'::character varying, 'NOT_ELIGIBLE'::character varying])::text[])))
);


ALTER TABLE finance_schema.eligibility_calculations OWNER TO sourcecorp_user;

--
-- Name: eligibility_rules; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.eligibility_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    loan_type character varying(100) NOT NULL,
    min_age integer NOT NULL,
    max_age integer NOT NULL,
    max_foir numeric(5,2) NOT NULL,
    income_multiplier numeric(5,2) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE finance_schema.eligibility_rules OWNER TO sourcecorp_user;

--
-- Name: obligation_fields; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.obligation_fields (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    template_id uuid NOT NULL,
    field_key character varying(255) NOT NULL,
    label character varying(255) NOT NULL,
    field_type character varying(50) NOT NULL,
    is_mandatory boolean DEFAULT false,
    is_repeatable boolean DEFAULT true,
    order_index integer DEFAULT 0 NOT NULL,
    default_value text,
    validation_rules jsonb,
    select_options jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT obligation_fields_field_type_check CHECK (((field_type)::text = ANY ((ARRAY['text'::character varying, 'number'::character varying, 'currency'::character varying, 'date'::character varying, 'select'::character varying])::text[])))
);


ALTER TABLE finance_schema.obligation_fields OWNER TO sourcecorp_user;

--
-- Name: obligation_items; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.obligation_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    obligation_sheet_id uuid NOT NULL,
    description character varying(255),
    monthly_emi numeric(15,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    item_data jsonb,
    order_index integer DEFAULT 0
);


ALTER TABLE finance_schema.obligation_items OWNER TO sourcecorp_user;

--
-- Name: obligation_sheets; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.obligation_sheets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    total_obligation numeric(15,2) NOT NULL,
    net_income numeric(15,2) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    template_id uuid,
    template_snapshot jsonb
);


ALTER TABLE finance_schema.obligation_sheets OWNER TO sourcecorp_user;

--
-- Name: obligation_templates; Type: TABLE; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TABLE finance_schema.obligation_templates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    template_name character varying(255) NOT NULL,
    sections jsonb NOT NULL,
    is_active boolean DEFAULT true,
    created_by uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE finance_schema.obligation_templates OWNER TO sourcecorp_user;

--
-- Name: tasks; Type: TABLE; Schema: task_schema; Owner: sourcecorp_user
--

CREATE TABLE task_schema.tasks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    assigned_to uuid NOT NULL,
    assigned_by uuid NOT NULL,
    direction character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'OPEN'::character varying NOT NULL,
    due_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tasks_direction_check CHECK (((direction)::text = ANY ((ARRAY['DOWNWARD'::character varying, 'UPWARD'::character varying])::text[]))),
    CONSTRAINT tasks_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE task_schema.tasks OWNER TO sourcecorp_user;

--
-- Data for Name: announcements; Type: TABLE DATA; Schema: admin_schema; Owner: sourcecorp_user
--

COPY admin_schema.announcements (id, title, content, author_id, is_active, created_at, updated_at) FROM stdin;
c193c3e0-4da2-421c-84fd-14b0fcc73de2	heyyy	pongal trip	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	t	2025-12-24 17:28:43.112139	2025-12-24 17:28:43.112139
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: audit_schema; Owner: sourcecorp_user
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--

COPY auth_schema.roles (id, name, description, created_at, updated_at) FROM stdin;
604e61fb-dc1d-46e3-a183-cc7079cb6862	Admin	System Administrator	2025-12-24 17:20:19.65299	2025-12-24 17:20:19.65299
d1f5450d-3cb4-4f22-b400-99f4870ac25a	hr	\N	2025-12-24 17:43:55.555241	2025-12-24 17:43:55.555241
1c412609-4031-4a50-95b7-bfde5c6cedaf	Operation Head	\N	2025-12-25 11:57:48.801737	2025-12-25 11:57:48.801737
594e93da-4b9f-409f-a1a9-3a9b0237c31c	aabc	\N	2025-12-27 18:27:00.773753	2025-12-27 18:27:00.773753
\.


--
-- Data for Name: team_members; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--

COPY auth_schema.team_members (id, team_id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--

COPY auth_schema.teams (id, name, description, created_at, updated_at) FROM stdin;
d4833ff3-98a7-4bb3-a1ee-284b0c3e991b	abc	\N	2025-12-24 17:56:03.56663	2025-12-24 17:56:03.56663
d23f8f03-a7b9-4517-a444-25f173b75774	kk	\N	2025-12-25 11:10:36.881594	2025-12-25 11:10:36.881594
\.


--
-- Data for Name: user_hierarchy; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--

COPY auth_schema.user_hierarchy (id, manager_id, subordinate_id, created_at) FROM stdin;
fbf313f0-bd14-4644-b669-0c30f2628534	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	660c8a0a-8550-43a2-b01f-e1c739848525	2025-12-25 13:41:34.190699
b19a8532-6937-451f-86e2-2d5b5467a6f2	660c8a0a-8550-43a2-b01f-e1c739848525	641bdc9d-c152-43bd-95ae-547336dac52e	2025-12-27 18:26:17.716306
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--

COPY auth_schema.user_roles (id, user_id, role_id, created_at) FROM stdin;
58d8675a-d231-4699-8d44-2a1babed9574	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	604e61fb-dc1d-46e3-a183-cc7079cb6862	2025-12-24 17:20:19.664869
b384c0b0-4fcc-433e-a326-994e601cd260	660c8a0a-8550-43a2-b01f-e1c739848525	d1f5450d-3cb4-4f22-b400-99f4870ac25a	2025-12-25 10:18:31.326618
fb5c3265-0aac-499e-9c83-5715ee217031	641bdc9d-c152-43bd-95ae-547336dac52e	d1f5450d-3cb4-4f22-b400-99f4870ac25a	2025-12-25 12:05:49.067064
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: auth_schema; Owner: sourcecorp_user
--



--
-- Data for Name: attachments; Type: TABLE DATA; Schema: chat_schema; Owner: sourcecorp_user
--



--
-- Data for Name: channel_creation_requests; Type: TABLE DATA; Schema: chat_schema; Owner: sourcecorp_user
--



--
-- Data for Name: channel_members; Type: TABLE DATA; Schema: chat_schema; Owner: sourcecorp_user
--



--
-- Data for Name: channels; Type: TABLE DATA; Schema: chat_schema; Owner: sourcecorp_user
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: chat_schema; Owner: sourcecorp_user
--



--
-- Data for Name: case_assignments; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--

COPY crm_schema.case_assignments (id, case_id, assigned_to, assigned_by, assigned_at) FROM stdin;
cb29f1c7-1062-4286-8ff0-3026a432cfa9	77bbc582-0611-4bb8-88a2-ab7e23869fc3	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-25 10:47:08.843532
\.


--
-- Data for Name: case_notes; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--



--
-- Data for Name: case_notifications; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--



--
-- Data for Name: case_status_history; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--



--
-- Data for Name: cases; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: crm_schema; Owner: sourcecorp_user
--

COPY crm_schema.documents (id, case_id, file_name, file_path, mime_type, file_size, uploaded_by, uploaded_at) FROM stdin;
5b4fb206-ae06-47df-9e3a-2fe6f1f7ddb3	a645d8bc-3f71-4ae5-b58e-9441a7015a0d	k.txt	/app/uploads/documents/1766598441055-k.txt	text/plain	680	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-24 17:47:21.058315
d24a2f08-4921-4080-96f7-ae0ad400a1cd	77bbc582-0611-4bb8-88a2-ab7e23869fc3	obligation-CASE-20251224-00001.pdf	/app/uploads/documents/1766673627390-obligation-CASE-20251224-00001.pdf	application/pdf	1746	660c8a0a-8550-43a2-b01f-e1c739848525	2025-12-25 14:40:27.393125
\.


--
-- Data for Name: cam_entries; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: cam_fields; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: cam_templates; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: eligibility_calculations; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: eligibility_rules; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--

COPY finance_schema.eligibility_rules (id, loan_type, min_age, max_age, max_foir, income_multiplier, created_by, created_at) FROM stdin;
6a31dc3e-610d-4a56-a912-48216801e73f	PERSONAL	21	65	0.60	60.00	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-24 17:51:39.760028
bcc6a575-0603-454c-8e60-9eb5a700a83e	BUSINESS	21	65	0.60	60.00	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-25 11:16:40.583489
\.


--
-- Data for Name: obligation_fields; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: obligation_items; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: obligation_sheets; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--



--
-- Data for Name: obligation_templates; Type: TABLE DATA; Schema: finance_schema; Owner: sourcecorp_user
--

COPY finance_schema.obligation_templates (id, template_name, sections, is_active, created_by, created_at, updated_at) FROM stdin;
184012dd-3db8-4418-9a03-5f5a77805b85	stand oblicat temp	["sec 1", "sec2"]	t	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-26 19:43:47.145657	2025-12-26 19:43:47.145657
aec633ec-d51c-4473-92e7-f05ce880d6f0	Standard Bank Obligation Template	["Obligation Details"]	t	03f01fc0-a1b3-4224-8c0b-11eee9ad3ce8	2025-12-27 10:09:07.726407	2025-12-27 10:09:07.726407
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: task_schema; Owner: sourcecorp_user
--



--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: admin_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY admin_schema.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: audit_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY audit_schema.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_role_id_permission_id_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.role_permissions
    ADD CONSTRAINT role_permissions_role_id_permission_id_key UNIQUE (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- Name: team_members team_members_team_id_user_id_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.team_members
    ADD CONSTRAINT team_members_team_id_user_id_key UNIQUE (team_id, user_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: user_hierarchy user_hierarchy_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_hierarchy
    ADD CONSTRAINT user_hierarchy_pkey PRIMARY KEY (id);


--
-- Name: user_hierarchy user_hierarchy_subordinate_id_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_hierarchy
    ADD CONSTRAINT user_hierarchy_subordinate_id_key UNIQUE (subordinate_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_user_id_role_id_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_roles
    ADD CONSTRAINT user_roles_user_id_role_id_key UNIQUE (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: channel_creation_requests channel_creation_requests_pkey; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_creation_requests
    ADD CONSTRAINT channel_creation_requests_pkey PRIMARY KEY (id);


--
-- Name: channel_members channel_members_channel_id_user_id_key; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_members
    ADD CONSTRAINT channel_members_channel_id_user_id_key UNIQUE (channel_id, user_id);


--
-- Name: channel_members channel_members_pkey; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_members
    ADD CONSTRAINT channel_members_pkey PRIMARY KEY (id);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: case_assignments case_assignments_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_assignments
    ADD CONSTRAINT case_assignments_pkey PRIMARY KEY (id);


--
-- Name: case_notes case_notes_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notes
    ADD CONSTRAINT case_notes_pkey PRIMARY KEY (id);


--
-- Name: case_notifications case_notifications_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notifications
    ADD CONSTRAINT case_notifications_pkey PRIMARY KEY (id);


--
-- Name: case_status_history case_status_history_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_status_history
    ADD CONSTRAINT case_status_history_pkey PRIMARY KEY (id);


--
-- Name: cases cases_case_number_key; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.cases
    ADD CONSTRAINT cases_case_number_key UNIQUE (case_number);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: cam_entries cam_entries_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_entries
    ADD CONSTRAINT cam_entries_pkey PRIMARY KEY (id);


--
-- Name: cam_fields cam_fields_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_fields
    ADD CONSTRAINT cam_fields_pkey PRIMARY KEY (id);


--
-- Name: cam_fields cam_fields_template_id_section_name_field_key_key; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_fields
    ADD CONSTRAINT cam_fields_template_id_section_name_field_key_key UNIQUE (template_id, section_name, field_key);


--
-- Name: cam_templates cam_templates_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_templates
    ADD CONSTRAINT cam_templates_pkey PRIMARY KEY (id);


--
-- Name: eligibility_calculations eligibility_calculations_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.eligibility_calculations
    ADD CONSTRAINT eligibility_calculations_pkey PRIMARY KEY (id);


--
-- Name: eligibility_rules eligibility_rules_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.eligibility_rules
    ADD CONSTRAINT eligibility_rules_pkey PRIMARY KEY (id);


--
-- Name: obligation_fields obligation_fields_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_fields
    ADD CONSTRAINT obligation_fields_pkey PRIMARY KEY (id);


--
-- Name: obligation_fields obligation_fields_template_id_field_key_key; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_fields
    ADD CONSTRAINT obligation_fields_template_id_field_key_key UNIQUE (template_id, field_key);


--
-- Name: obligation_items obligation_items_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_items
    ADD CONSTRAINT obligation_items_pkey PRIMARY KEY (id);


--
-- Name: obligation_sheets obligation_sheets_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_sheets
    ADD CONSTRAINT obligation_sheets_pkey PRIMARY KEY (id);


--
-- Name: obligation_templates obligation_templates_pkey; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_templates
    ADD CONSTRAINT obligation_templates_pkey PRIMARY KEY (id);


--
-- Name: obligation_templates obligation_templates_template_name_key; Type: CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_templates
    ADD CONSTRAINT obligation_templates_template_name_key UNIQUE (template_name);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: task_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY task_schema.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: idx_announcements_active; Type: INDEX; Schema: admin_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_announcements_active ON admin_schema.announcements USING btree (is_active);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: audit_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_audit_logs_action ON audit_schema.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: audit_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_audit_logs_created_at ON audit_schema.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: audit_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_audit_logs_user_id ON audit_schema.audit_logs USING btree (user_id);


--
-- Name: idx_role_permissions_permission_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_role_permissions_permission_id ON auth_schema.role_permissions USING btree (permission_id);


--
-- Name: idx_role_permissions_role_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_role_permissions_role_id ON auth_schema.role_permissions USING btree (role_id);


--
-- Name: idx_team_members_team_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_team_members_team_id ON auth_schema.team_members USING btree (team_id);


--
-- Name: idx_team_members_user_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_team_members_user_id ON auth_schema.team_members USING btree (user_id);


--
-- Name: idx_user_hierarchy_manager_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_user_hierarchy_manager_id ON auth_schema.user_hierarchy USING btree (manager_id);


--
-- Name: idx_user_hierarchy_subordinate_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_user_hierarchy_subordinate_id ON auth_schema.user_hierarchy USING btree (subordinate_id);


--
-- Name: idx_user_roles_role_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_user_roles_role_id ON auth_schema.user_roles USING btree (role_id);


--
-- Name: idx_user_roles_user_id; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_user_roles_user_id ON auth_schema.user_roles USING btree (user_id);


--
-- Name: idx_users_active; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_users_active ON auth_schema.users USING btree (is_active);


--
-- Name: idx_users_email; Type: INDEX; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_users_email ON auth_schema.users USING btree (email);


--
-- Name: idx_attachments_message_id; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_attachments_message_id ON chat_schema.attachments USING btree (message_id);


--
-- Name: idx_channel_members_channel_id; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channel_members_channel_id ON chat_schema.channel_members USING btree (channel_id);


--
-- Name: idx_channel_members_user_id; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channel_members_user_id ON chat_schema.channel_members USING btree (user_id);


--
-- Name: idx_channel_requests_requested_by; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channel_requests_requested_by ON chat_schema.channel_creation_requests USING btree (requested_by);


--
-- Name: idx_channel_requests_reviewed_by; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channel_requests_reviewed_by ON chat_schema.channel_creation_requests USING btree (reviewed_by);


--
-- Name: idx_channel_requests_status; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channel_requests_status ON chat_schema.channel_creation_requests USING btree (status);


--
-- Name: idx_channels_created_by; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channels_created_by ON chat_schema.channels USING btree (created_by);


--
-- Name: idx_channels_status; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channels_status ON chat_schema.channels USING btree (status);


--
-- Name: idx_channels_type; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_channels_type ON chat_schema.channels USING btree (type);


--
-- Name: idx_messages_channel_id; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_messages_channel_id ON chat_schema.messages USING btree (channel_id);


--
-- Name: idx_messages_created_at; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_messages_created_at ON chat_schema.messages USING btree (created_at);


--
-- Name: idx_messages_sender_id; Type: INDEX; Schema: chat_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_messages_sender_id ON chat_schema.messages USING btree (sender_id);


--
-- Name: idx_case_assignments_assigned_to; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_assignments_assigned_to ON crm_schema.case_assignments USING btree (assigned_to);


--
-- Name: idx_case_assignments_case_id; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_assignments_case_id ON crm_schema.case_assignments USING btree (case_id);


--
-- Name: idx_case_notes_case_id; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notes_case_id ON crm_schema.case_notes USING btree (case_id);


--
-- Name: idx_case_notifications_case_id; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_case_id ON crm_schema.case_notifications USING btree (case_id);


--
-- Name: idx_case_notifications_completion_status; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_completion_status ON crm_schema.case_notifications USING btree (completion_status);


--
-- Name: idx_case_notifications_is_read; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_is_read ON crm_schema.case_notifications USING btree (is_read);


--
-- Name: idx_case_notifications_scheduled_at; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_scheduled_at ON crm_schema.case_notifications USING btree (scheduled_at);


--
-- Name: idx_case_notifications_scheduled_by; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_scheduled_by ON crm_schema.case_notifications USING btree (scheduled_by);


--
-- Name: idx_case_notifications_scheduled_for; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_scheduled_for ON crm_schema.case_notifications USING btree (scheduled_for);


--
-- Name: idx_case_notifications_status; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_notifications_status ON crm_schema.case_notifications USING btree (status);


--
-- Name: idx_case_status_history_case_id; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_status_history_case_id ON crm_schema.case_status_history USING btree (case_id);


--
-- Name: idx_case_status_history_changed_at; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_case_status_history_changed_at ON crm_schema.case_status_history USING btree (changed_at);


--
-- Name: idx_cases_case_number; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cases_case_number ON crm_schema.cases USING btree (case_number);


--
-- Name: idx_cases_created_at; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cases_created_at ON crm_schema.cases USING btree (created_at);


--
-- Name: idx_cases_created_by; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cases_created_by ON crm_schema.cases USING btree (created_by);


--
-- Name: idx_cases_current_status; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cases_current_status ON crm_schema.cases USING btree (current_status);


--
-- Name: idx_documents_case_id; Type: INDEX; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_documents_case_id ON crm_schema.documents USING btree (case_id);


--
-- Name: idx_cam_entries_case_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_entries_case_id ON finance_schema.cam_entries USING btree (case_id);


--
-- Name: idx_cam_entries_template_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_entries_template_id ON finance_schema.cam_entries USING btree (template_id);


--
-- Name: idx_cam_entries_version; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_entries_version ON finance_schema.cam_entries USING btree (case_id, version);


--
-- Name: idx_cam_fields_section; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_fields_section ON finance_schema.cam_fields USING btree (template_id, section_name);


--
-- Name: idx_cam_fields_template_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_fields_template_id ON finance_schema.cam_fields USING btree (template_id);


--
-- Name: idx_cam_templates_active; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_templates_active ON finance_schema.cam_templates USING btree (is_active);


--
-- Name: idx_cam_templates_loan_type; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_cam_templates_loan_type ON finance_schema.cam_templates USING btree (loan_type);


--
-- Name: idx_eligibility_calculations_calculated_at; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_eligibility_calculations_calculated_at ON finance_schema.eligibility_calculations USING btree (calculated_at);


--
-- Name: idx_eligibility_calculations_case_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_eligibility_calculations_case_id ON finance_schema.eligibility_calculations USING btree (case_id);


--
-- Name: idx_eligibility_rules_loan_type; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_eligibility_rules_loan_type ON finance_schema.eligibility_rules USING btree (loan_type);


--
-- Name: idx_obligation_fields_template_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_obligation_fields_template_id ON finance_schema.obligation_fields USING btree (template_id);


--
-- Name: idx_obligation_items_sheet_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_obligation_items_sheet_id ON finance_schema.obligation_items USING btree (obligation_sheet_id);


--
-- Name: idx_obligation_sheets_case_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_obligation_sheets_case_id ON finance_schema.obligation_sheets USING btree (case_id);


--
-- Name: idx_obligation_sheets_template_id; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_obligation_sheets_template_id ON finance_schema.obligation_sheets USING btree (template_id);


--
-- Name: idx_obligation_templates_active; Type: INDEX; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_obligation_templates_active ON finance_schema.obligation_templates USING btree (is_active);


--
-- Name: idx_tasks_assigned_by; Type: INDEX; Schema: task_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_tasks_assigned_by ON task_schema.tasks USING btree (assigned_by);


--
-- Name: idx_tasks_assigned_to; Type: INDEX; Schema: task_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_tasks_assigned_to ON task_schema.tasks USING btree (assigned_to);


--
-- Name: idx_tasks_created_at; Type: INDEX; Schema: task_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_tasks_created_at ON task_schema.tasks USING btree (created_at);


--
-- Name: idx_tasks_direction; Type: INDEX; Schema: task_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_tasks_direction ON task_schema.tasks USING btree (direction);


--
-- Name: idx_tasks_status; Type: INDEX; Schema: task_schema; Owner: sourcecorp_user
--

CREATE INDEX idx_tasks_status ON task_schema.tasks USING btree (status);


--
-- Name: user_hierarchy trigger_check_hierarchy_cycle; Type: TRIGGER; Schema: auth_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_check_hierarchy_cycle BEFORE INSERT OR UPDATE ON auth_schema.user_hierarchy FOR EACH ROW EXECUTE FUNCTION auth_schema.check_hierarchy_cycle();


--
-- Name: cases trigger_set_case_number; Type: TRIGGER; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_set_case_number BEFORE INSERT ON crm_schema.cases FOR EACH ROW EXECUTE FUNCTION crm_schema.set_case_number();


--
-- Name: case_notifications trigger_update_case_notifications_updated_at; Type: TRIGGER; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_case_notifications_updated_at BEFORE UPDATE ON crm_schema.case_notifications FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: cases trigger_update_cases_updated_at; Type: TRIGGER; Schema: crm_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_cases_updated_at BEFORE UPDATE ON crm_schema.cases FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: cam_templates trigger_update_cam_templates_updated_at; Type: TRIGGER; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_cam_templates_updated_at BEFORE UPDATE ON finance_schema.cam_templates FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: obligation_sheets trigger_update_obligation_sheets_updated_at; Type: TRIGGER; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_obligation_sheets_updated_at BEFORE UPDATE ON finance_schema.obligation_sheets FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: obligation_templates trigger_update_obligation_templates_updated_at; Type: TRIGGER; Schema: finance_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_obligation_templates_updated_at BEFORE UPDATE ON finance_schema.obligation_templates FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: tasks trigger_update_tasks_updated_at; Type: TRIGGER; Schema: task_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_update_tasks_updated_at BEFORE UPDATE ON task_schema.tasks FOR EACH ROW EXECUTE FUNCTION crm_schema.update_updated_at_column();


--
-- Name: tasks trigger_validate_task_assignment; Type: TRIGGER; Schema: task_schema; Owner: sourcecorp_user
--

CREATE TRIGGER trigger_validate_task_assignment BEFORE INSERT OR UPDATE ON task_schema.tasks FOR EACH ROW EXECUTE FUNCTION task_schema.validate_task_assignment();


--
-- Name: announcements announcements_author_id_fkey; Type: FK CONSTRAINT; Schema: admin_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY admin_schema.announcements
    ADD CONSTRAINT announcements_author_id_fkey FOREIGN KEY (author_id) REFERENCES auth_schema.users(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: audit_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY audit_schema.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth_schema.users(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES auth_schema.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES auth_schema.roles(id) ON DELETE CASCADE;


--
-- Name: team_members team_members_team_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.team_members
    ADD CONSTRAINT team_members_team_id_fkey FOREIGN KEY (team_id) REFERENCES auth_schema.teams(id) ON DELETE CASCADE;


--
-- Name: team_members team_members_user_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.team_members
    ADD CONSTRAINT team_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: user_hierarchy user_hierarchy_manager_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_hierarchy
    ADD CONSTRAINT user_hierarchy_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: user_hierarchy user_hierarchy_subordinate_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_hierarchy
    ADD CONSTRAINT user_hierarchy_subordinate_id_fkey FOREIGN KEY (subordinate_id) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES auth_schema.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: auth_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY auth_schema.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: attachments attachments_message_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.attachments
    ADD CONSTRAINT attachments_message_id_fkey FOREIGN KEY (message_id) REFERENCES chat_schema.messages(id) ON DELETE CASCADE;


--
-- Name: attachments attachments_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.attachments
    ADD CONSTRAINT attachments_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES auth_schema.users(id);


--
-- Name: channel_creation_requests channel_creation_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_creation_requests
    ADD CONSTRAINT channel_creation_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES auth_schema.users(id);


--
-- Name: channel_creation_requests channel_creation_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_creation_requests
    ADD CONSTRAINT channel_creation_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES auth_schema.users(id);


--
-- Name: channel_creation_requests channel_creation_requests_target_role_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_creation_requests
    ADD CONSTRAINT channel_creation_requests_target_role_id_fkey FOREIGN KEY (target_role_id) REFERENCES auth_schema.roles(id);


--
-- Name: channel_creation_requests channel_creation_requests_target_team_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_creation_requests
    ADD CONSTRAINT channel_creation_requests_target_team_id_fkey FOREIGN KEY (target_team_id) REFERENCES auth_schema.teams(id);


--
-- Name: channel_members channel_members_channel_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_members
    ADD CONSTRAINT channel_members_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES chat_schema.channels(id) ON DELETE CASCADE;


--
-- Name: channel_members channel_members_user_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channel_members
    ADD CONSTRAINT channel_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: channels channels_created_by_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.channels
    ADD CONSTRAINT channels_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: messages messages_channel_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.messages
    ADD CONSTRAINT messages_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES chat_schema.channels(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: chat_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY chat_schema.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES auth_schema.users(id);


--
-- Name: case_assignments case_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_assignments
    ADD CONSTRAINT case_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES auth_schema.users(id);


--
-- Name: case_assignments case_assignments_assigned_to_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_assignments
    ADD CONSTRAINT case_assignments_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES auth_schema.users(id);


--
-- Name: case_assignments case_assignments_case_id_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_assignments
    ADD CONSTRAINT case_assignments_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: case_notes case_notes_case_id_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notes
    ADD CONSTRAINT case_notes_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: case_notes case_notes_created_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notes
    ADD CONSTRAINT case_notes_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: case_notifications case_notifications_case_id_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notifications
    ADD CONSTRAINT case_notifications_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: case_notifications case_notifications_scheduled_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notifications
    ADD CONSTRAINT case_notifications_scheduled_by_fkey FOREIGN KEY (scheduled_by) REFERENCES auth_schema.users(id);


--
-- Name: case_notifications case_notifications_scheduled_for_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_notifications
    ADD CONSTRAINT case_notifications_scheduled_for_fkey FOREIGN KEY (scheduled_for) REFERENCES auth_schema.users(id);


--
-- Name: case_status_history case_status_history_case_id_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_status_history
    ADD CONSTRAINT case_status_history_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: case_status_history case_status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.case_status_history
    ADD CONSTRAINT case_status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES auth_schema.users(id);


--
-- Name: cases cases_created_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.cases
    ADD CONSTRAINT cases_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: documents documents_case_id_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.documents
    ADD CONSTRAINT documents_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: documents documents_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: crm_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY crm_schema.documents
    ADD CONSTRAINT documents_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES auth_schema.users(id);


--
-- Name: cam_entries cam_entries_case_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_entries
    ADD CONSTRAINT cam_entries_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: cam_entries cam_entries_created_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_entries
    ADD CONSTRAINT cam_entries_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: cam_entries cam_entries_template_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_entries
    ADD CONSTRAINT cam_entries_template_id_fkey FOREIGN KEY (template_id) REFERENCES finance_schema.cam_templates(id);


--
-- Name: cam_fields cam_fields_template_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_fields
    ADD CONSTRAINT cam_fields_template_id_fkey FOREIGN KEY (template_id) REFERENCES finance_schema.cam_templates(id) ON DELETE CASCADE;


--
-- Name: cam_templates cam_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.cam_templates
    ADD CONSTRAINT cam_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: eligibility_calculations eligibility_calculations_calculated_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.eligibility_calculations
    ADD CONSTRAINT eligibility_calculations_calculated_by_fkey FOREIGN KEY (calculated_by) REFERENCES auth_schema.users(id);


--
-- Name: eligibility_calculations eligibility_calculations_case_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.eligibility_calculations
    ADD CONSTRAINT eligibility_calculations_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: eligibility_rules eligibility_rules_created_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.eligibility_rules
    ADD CONSTRAINT eligibility_rules_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: obligation_fields obligation_fields_template_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_fields
    ADD CONSTRAINT obligation_fields_template_id_fkey FOREIGN KEY (template_id) REFERENCES finance_schema.obligation_templates(id) ON DELETE CASCADE;


--
-- Name: obligation_items obligation_items_obligation_sheet_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_items
    ADD CONSTRAINT obligation_items_obligation_sheet_id_fkey FOREIGN KEY (obligation_sheet_id) REFERENCES finance_schema.obligation_sheets(id) ON DELETE CASCADE;


--
-- Name: obligation_sheets obligation_sheets_case_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_sheets
    ADD CONSTRAINT obligation_sheets_case_id_fkey FOREIGN KEY (case_id) REFERENCES crm_schema.cases(id) ON DELETE CASCADE;


--
-- Name: obligation_sheets obligation_sheets_created_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_sheets
    ADD CONSTRAINT obligation_sheets_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: obligation_sheets obligation_sheets_template_id_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_sheets
    ADD CONSTRAINT obligation_sheets_template_id_fkey FOREIGN KEY (template_id) REFERENCES finance_schema.obligation_templates(id);


--
-- Name: obligation_templates obligation_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: finance_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY finance_schema.obligation_templates
    ADD CONSTRAINT obligation_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES auth_schema.users(id);


--
-- Name: tasks tasks_assigned_by_fkey; Type: FK CONSTRAINT; Schema: task_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY task_schema.tasks
    ADD CONSTRAINT tasks_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- Name: tasks tasks_assigned_to_fkey; Type: FK CONSTRAINT; Schema: task_schema; Owner: sourcecorp_user
--

ALTER TABLE ONLY task_schema.tasks
    ADD CONSTRAINT tasks_assigned_to_fkey FOREIGN KEY (assigned_to) REFERENCES auth_schema.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict FQNnCqQgQaMA861wfdsq6M39KzgfSZkSg8c2SZNKgxlz7eEv9A8bWeGqohYi1Yg

